:root {
  --blue-color : #0075ff ;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
}

.d-flex {
  display: flex;
}   

.space-between {
  justify-content: space-between;
}
.flex-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.d-grid {
  display: grid;
}
.f-wrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}
.gap-40 {
  gap: 40px;
}

.d-block {
  display: block;
}

.align-center {
  align-items: center;
}


/* /////////////////// */


.p-0 {
  padding: 0px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}


.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
/* /////////////////// */

.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}

.c-black {
  color: black;
}
.c-gray {
  color: var(--gray-color);
}
.c-white {
  color: white;
}
.c-blue{
  color: var(--blue-color);
}
.c-orange{
  color: var(--orange-color);
}
.c-green{
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}


/* /////////////////// */

.p-relative {
  position: relative;
}
.over-hidden {
  overflow: hidden;
}
/* /////////////////// */

.txt-c {
  text-align: center;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-40 {
  font-size: 40px;
}
.fw-bold {
  font-weight: bold;
}
.fw-500 {
  font-weight: 500;
}
/* /////////////////// */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.b-none {
  border: none;
}

.bottom-border {
  border-bottom: 1px solid #eee;
  padding-bottom:  15px;
}



@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .txt-c-mobile {
    text-align: center;
  }
  .black-mobile {
    color: #000;
  }
  .hide-mobile {
    display: none;
  }
}


/* COMPONENTS  */
.btn-shape {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}


.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* COMPONENTS  */
